.carrusel-items{
    display: flex;
    margin-block-start: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 30px 0px;

}

.carrusel-item img{
    width: 349px;
    height: 348px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: cover;


}

  
  .carrusel {
    
    display: flex;
  }
  
  
  .carrusel-item {
    cursor: pointer;
  }
  
  
  .carrusel-item:hover {
    transform: scale(1.2);
  }