@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');



/*-------------- CONTACTO-------------- */

body {
    background-image: url(Imagenes/contacto2.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    
}

.contacto-form{
    width: 450px;
    margin-left: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 160px;
    border-radius: 7px;
}

.contacto-form h2{
    color: rgba(249, 249, 249,0.8);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-block-end: 10px;
    margin-block-start: 10px;
    font-family: 'Poppins', sans-serif;

}

.contacto-form p{
    color: rgba(249, 249, 249,0.8);
}

.contacto-form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
}

.contacto-form textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
}

/* MODAL */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #edeef6;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}