@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&display=swap');





/*-------------- Index section-------------- */
body{
  font-family: 'Poppins', sans-serif;
  
}

.navbar-expand-lg{
	background-color:rgb(226, 226, 226) ;
}

.navbar-expand-lg img{
	height: 100px;
}

.nav-item2{
	font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 0 .5em;
	padding-left: 100px;


}

.nav-item {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 0 .5em;


}

/*-------------- Mecanicos -------------- */

.container{

  margin-top: 130px;
  display: flex;
  width: 100%;
  max-width: 1100px;
}

.card{

  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);
}

.card img{
  width: 100%;
  height: 250px;
}
.card .contenido{
  padding: 15px;
  text-align: center;
}

.card .contenido p{
  line-height: 1.5;
  color: #6a6a6a;
}

.card .contenido h3{
  font-weight: 400;
  margin-bottom: 15px;
}

.card .contenido a{
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
}

.card .contenido a:hover{
  background: #2fb4cc;
  color: white;
}


/*-------------- trabajos-------------- */


.mecanico{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bolder;


}

.mecanico h1{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: bolder;


}


.boton a{
  background: #2fb4cc;
  color: white;
  
  border-radius: 4px;
    width: 115px; 
    text-align: left; 
    margin-top: 100px; 
    margin-left: 150px; 

         

}
  
 .boton a:hover{
  color: #ffffff;
  border: 1px solid rgb(111, 194, 209);
  background-color:rgb(111, 194, 209);
}
  


html{
	scroll-behavior: smooth;
}

.img-container p {
margin-top: 15px; 
margin-left: 60px; 
margin-right: 60px;                    
text-align:justify; 
border: #4498a8 3px solid; 
padding-bottom: 4px ; 
padding-top: 4px ; 
padding-left: 20px ;
padding-right: 20px ;
}

.product h2{
  margin-top: 130px; 
  margin-left: 200px; 
  width: 800px; 
  margin-bottom: 0; 
  font-size: 40px; 
  font-family: 'Asap Condensed', sans-serif;
}

.product-small-img :hover{
  transform: scale(1.2);
}