@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');





/*-------------- Index section-------------- */
.navbar-expand-lg{
	background-color:rgb(226, 226, 226) ;
}

.navbar-expand-lg img{
	height: 100px;
}

.nav-item2{
	font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 0 .5em;
	padding-left: 200px;


}

.nav-item {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: large;
    padding: 0 .5em;


}
/*-------------- CARRUSEL-------------- */



.carousel-item img{
	margin-block-start: 115px;
	height: 620px;
	object-fit: cover;
	

}

.carousel-caption h1 {
	
	font-size: 70px;
	line-height: 70px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding-block-start: 10px;
	padding-block-end: 10px;

}

.carousel-caption p {
	font-weight: bold;
	font-size: 17px;


}
.carousel-caption a{
	text-transform: uppercase;
	border: #0fc690 solid 1px;
	background: #0fc690;
	width: 196px;
	padding: 12px 0;
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;

}
.carousel-control-next{
position: absolute;
	top: 55% !important;
	left: inherit !important;
	right: -22px !important;
	width: 70px;
	height: 70px;
	border-radius: 35px;
}
.carousel-control-prev{
	position: absolute;
	top: 55% !important;
	left: -22px !important;
	right: inherit !important;
	width: 70px;
	height: 70px;
	border-radius: 35px;


}



/*-------------- about section-------------- */



.quienes-somos{

	font-size: 45px;
	color: #707070;
	line-height: 50px;
	border-bottom: #239089 solid 2px;
	width: 400px;
	margin-top: 70px;
	margin-bottom: 10px;
    padding-block-start: 70px;
	margin-left: 400px;
}

.texto-acerca{
    color: #3d3c3c;
	font-size: 17px;
	text-align: center;
	margin-top: 20px;
	
}

.final{
	text-align: center;
	margin-left: 0px;
	font-weight: bold;

}

.img-box figure img {
	text-align: center;
	padding-block-start: 0;
	margin-block-start: 0;
	margin-inline-end: 50px;

}

html{
	scroll-behavior: smooth;
}

/*-------------- FOOTER -------------- */

h3{

		border-bottom: #239089 solid 3px;
		width: 400px;
		margin-left: 550px;
		text-align: center;
	
}

